#image-container {
    display: flex;
    justify-content: space-between;
}

.image-column {
    flex: 1;
    margin: 0 10px;
}

.image-column img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

